.ftco-navbar-light{
    position: relative !important;
}

.ftco-section-featured{
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}

.section-header {
    margin-top: 40px !important;
}

.ftco-section.testimony-section2.bg-light, .ftco-section.testimony-section4.bg-light{
    background-color: #fff !important;
}

span[class="quote d-flex align-items-center justify-content-center"]{
    display: none !important;
}

.beyond-title{
    color: #60CBEA;
    animation: breathe 3s linear infinite;
}

.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light.scrolled.awake{
    position: fixed !important;
}

@keyframes breathe {
    0% {
     color: #000;
    }
   }

@media (max-width: 767.98px) {
    .ftco-section.testimony-section1.bg-light{
        margin-top: -80% !important;
        padding: 0 !important;
    }
  }